.back {

}

.pipelist {
  display: flex;
  flex-wrap: wrap;

  li {
    padding-right: 3px;

    &:not(:last-child):after {
      content: ' |';
    }
  }

  .sel {
    text-decoration: none;
    color: inherit !important;
    cursor: text;
    font-weight: bold;
  }
}
