.pipelist {
  display: flex;
  flex-wrap: wrap;

  > li + li:before {
    content: '|';
    padding: 0 3px;
  }

  .selected {
    text-decoration: none;
    color: inherit !important;
    cursor: text;
    font-weight: bold;
  }
}
