table {
  td.blue {
    border-bottom-color: $blue;
    background-color: $lightBlue;
  }
  td.orange {
    border-bottom-color: $orange;
    background-color: $lightOrange;
  }
  td.red {
    border-bottom-color: $red;
    background-color: $lightRed;
  }
  td.yellow {
    border-bottom-color: $yellow;
    background-color: $lightYellow;
  }
}

td {
  background-color: #fff;
}
th {
  background-color: #f8f8f8;
  font-weight: normal;
}
td, th {
  border-color: #e8e8e8;
}

.back {
  margin-top: 2em;
}

.clear {
  clear: both;
}

.downloads {
  a {
    background: no-repeat 0/22px;
    display: inline-block;
    height: 22px;
    margin: 2px 0;
    padding-left: 26px;
  }

  .gpx {
    background-image: url('../img/gpx-icon.png');
  }
  .kml {
    background-image: url('../img/kml-icon.png');
  }
  .text {
    background-image: url('../img/text-icon.png');
  }
  .zip {
    background-image: url('../img/zip-icon.png');
  }
}

.legend {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;

  img {
    height: 25px;
    position: absolute;
  }
  li {
    padding: .5em 1.25em 0 0;
    position: relative;
    white-space: nowrap;
  }
  span {
    display: inline-block;
    margin-left: 25px;
  }
}

.pipelist {
  display: flex;
  flex-wrap: wrap;

  li:not(:last-child):after {
    content: '|';
    margin: 0 .25em;
  }

  .selected {
    color: inherit !important;
    cursor: text;
    font-weight: bold;
    text-decoration: none;
  }
}

.tablist-panel {
  overflow: auto;

  header {
    display: none; /* hide redundant headers after "tabifying" by js (js adds 'tablist-panel' parent class) */
  }
}
