/* CSS for freezing header cells on network-level velocities, offsets, and noise tables */

table.sortable {
  border-collapse: separate; /* prevent borders from scrolling */
  border-spacing: 0;
  margin: 0;
  position: relative;
}

td, th {
  border-width: 0 1px 1px 0;
}

td.freeze {
  left: 0;
}

th.freeze {
  top: 0;

  &:first-child {
    left: 0;
    top: 0;
    z-index: 10;
  }
}

.freeze {
  position: sticky;
}

.scroll-wrapper {
  overflow: auto;
  margin-top: 1.25em;
  max-height: 80vh;
}
