/* Removes infamous 300ms touch delay */
html {
  touch-action: manipulation;
}

#simplbox {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 1);
  touch-action: none; /* Removes touch action */
  z-index: 9999;

  &:after, &:before {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 46%;
    transition: opacity .25s ease-out;
  }

  &:after {
    content: '\e5c8';
    right: 0;
  }
  &:before {
    content: '\e5c4';
    left: 0;
  }

  &.right:after, &.left:before {
    opacity: 1;
  }
}

#simplbox-buttons {
  display: flex;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 10002;

  .icon {
    color: rgb(205, 203, 229);
    cursor: pointer;
  }
  .material-icons {
    font-size: 30px;
  }
}

#simplbox-caption {
  background-color: rgba(13, 5, 255, 0.47);
  color: rgb(228, 226, 255);
  font-size: 20px;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 10001;

  small {
    color: rgb(205, 203, 229);
    padding-left: .5em;
  }
}

#simplbox-loading {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 10003;

  &:before {
    animation: loader 1s linear infinite;
    background-color: #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    transform-origin: 8px 8px;
    width: 8px;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    transform: rotate(360deg) scale(1.5);
  }

  50% {
    opacity: .5;
    transform: rotate(180deg) scale(1);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1.5);
  }
}

#simplbox-overlay {
  background-color: rgba(0, 0, 0, .95);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
}
