/* CSS for navigation buttons below maps */

h3.count {
  font: normal 1.2em $font-sans;
}

.icon {
  background: url('../img/bubble.png') no-repeat;
  background-size: 20px 20px;
  display: block;
  height: 20px;
  margin: -25px 4px 0 auto;
  width: 20px;
}

.networks, .stations {
  align-content: space-between;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  > li {
    height: 36px;
  }
}

.networks > li {
  width: 24.5%;
}

.stations li {
  width: 12%;
}

/* reflow nav-buttons on narrow screens - uses JS to calculate new height after page render */
@media (max-width: 1000px) {
  .networks {
    &:after {
      content: "narrow"; /* flag for MediaQueries.js that media query was triggered */
      display: none;
    }

    > li {
      width: 49.5%; /* 2 columns */
    }
  }
  .stations {
    &:after {
      content: "normal"; /* flag for MediaQueries.js that media query was triggered */
      display: none;
    }

    > li {
      width: 16%; /* 6 columns */
    }
  }
}
@media (max-width: 600px) {
  .stations {
    &:after {
      content: "narrow"; /* flag for MediaQueries.js that media query was triggered */
      display: none;
    }

    > li {
      width: 24%; /* 4 columns */
    }
  }
}
