@import '_common.scss';

$height: 200px;

.dygraph-title {
  font-family: Merriweather,Times,serif;
  margin: 0;
}

.plot, .loading {
  height: $height;
}
.loading {
  padding-top: calc($height/2 - 20px);
}

.plots {
  border: 1px solid #ddd;
  padding: 0 1em 0;

  > div {
    margin: 1.8em 0;
  }
}
