@import '_common.scss';
@import '_maplist.scss';
@import 'map/_map.scss';

section > .pipelist {
  margin-bottom: 1em;
}

small {
  display: block;
  margin-top: -.5em;
}

.popup {
  img {
    height: 206px;
  }

  .pipelist {
    margin: 1em 0;
  }
}
