@import '_common.scss';
@import '_maplist.scss';
@import 'map/_leaflet.scss';
@import 'map/_map.scss';

.popup {
  img {
    height: 206px;
  }

  .pipelist {
    margin: 1em 0;
  }
}

section > .pipelist {
  margin-bottom: 1em;
}
