@import '_common.scss';
@import '_Lightbox.scss';

h3 {
  margin-top: 1.8em;
}

.fullsize {
  background: rgba(0, 0, 0, .5);
  bottom: 10px;
  color: #fff;
  display: inline;
  line-height: 1;
  padding: 3px;
  position: absolute;
  right: 4px;
  transition: background .25s ease-out;
  z-index: 100;

  &:active {
    color: #0ff !important;
  }
  &:hover {
    background: #000;
  }
  &:visited {
    color: #fff;
  }
  &.hide {
    opacity: 0;
  }
}

.photos {
  display: flex;
  flex-flow: row wrap;
  margin-top: .75em;

  h4 {
    font: normal 1em $font-sans;
    margin: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  li {
    margin-right: 8px;
    position: relative;

    img {
      z-index: 10;
    }

    img:hover {
      box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, .25);
    }
  }
}

.simplbox {
  overflow: hidden;
}
