h2 {
  border-top: 1px solid #eee;
  padding-top: 1.3em;

  &:first-child {
    border: 0;
    padding: 0;
  }
}

.photos {
  display: flex;
  flex-flow: row wrap;

  h3 {
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  li {
    padding-right: 5px;
  }
}

.n {
  order: 1;
}
.e {
  order: 2;
}
.s {
  order: 3;
}
.w {
  order: 4;
}
.bay {
  order: 5;
}
.bm {
  order: 6;
}
.misc {
  order: 7;
}
