@import '_common.scss';
@import '_simplbox.scss';

h2 {
  border-top: 1px solid #dfdfdf;
  padding-top: 1.3em;

  &:first-child {
    border: 0;
    padding: 0;
  }
}

.fullsize {
  background: rgba(0, 0, 0, .5);
  bottom: 10px;
  color: #fff;
  display: inline;
  line-height: 1;
  padding: 3px;
  position: absolute;
  right: 4px;
  transition: background .25s ease-out;
  z-index: 100;

  &:active {
    color: #0ff !important;
  }
  &:hover {
    background: #000;
  }
  &:visited {
    color: #fff;
  }
  &.hide {
    opacity: 0;
  }
}

.photos {
  display: flex;
  flex-flow: row wrap;

  h3 {
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  li {
    margin-right: 8px;
    position: relative;

    img {
      z-index: 10;
    }

    img:hover {
      box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, .25);
    }
  }
}
