@import '_common.scss';
@import 'qc/_NavigationView.scss';
@import 'qc/_PlotView.scss';

$height: 320px;

.c3-grid line {
  stroke: #DADADA;
}

.downloads {
  margin-bottom: 1.5em;
}

.loading, .plot {
  height: $height;
}
.loading {
  padding-top: calc($height/2 - 30px);
}

.title h2 {
  text-align: center;
}
