@import '_common.scss';

$height: 320px;

.app-nav {
  overflow: hidden;
}

.app-plots {
  border: 1px solid #ddd;

  p {
    margin-left: 1em;
  }
}

.c3-grid line {
  stroke: #DADADA;
}

.loading, .plot {
  height: $height;
}
.loading {
  padding-top: calc($height/2 - 30px);
}

.title h3 {
  font-size: 1.7rem;
  margin-top: 1.8em;
  text-align: center;
}
