@import 'tablist/TabList.scss';
@import '_common.scss';
@import 'map/_leaflet.scss';

h1 em {
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
}

mark {
  background: none;
  border-radius: 3px;
  color: #fff;
  padding: 0 3px;

  &.blue {
    background: #44f;
  }
  &.green {
    background: #00c800;
  }
  &.red {
    background: #f44;
  }
}

.one-of-three {
  h2 {
    font-size: 1em;

    &:first-child {
      margin-top: 0;
    }
  }
}

.image {
  float: left;
  margin: 1em 1em 2em 0;
  max-width: 490px;
}

.map {
  height: 350px;
  margin-bottom: 1em;
}

.panel {
  margin-top: 1em;

  nav {
    overflow: hidden;

    span {
      display: inline-block;
      float: left;
      margin: 0 5px 0 0;
    }

    ul {
      margin: 0 0 .25em;
    }
  }

  th {
    background-color: #f8f8f8;
    border-width: 0 1px 1px 1px;
    text-align: center;
  }

  .downloads {
    clear: left;
  }

  .empty {
    background-color: #fff !important;
    border: 0;
  }

  .freeze {
    border-width: 1px 1px 1px 0;
    left: 0;
    position: sticky;
  }
}

.popup {
  dd {
    color: #666;
    margin: .2em 0 0;
  }
  dt {
    font-weight: normal;
    margin-top: 1em;
  }
}

.scroll-wrapper {
  overflow-x: auto;
}

.tablist-panel {
  header {
    display: none; /* hides in js env only (.tablist-panel added by tabs js) */
  }
}
