.stations {
  columns: 4 200px;

  h3 {
    margin: 1em 0 0 0;
    font-weight: normal;
  }

  > li {
    /* avoid splitting network lists between columns */
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    break-inside: avoid; /* IE 10+, Opera */
    page-break-inside: avoid; /* Theoretically FF 20+ */
    display:table; /* FF; also enforces consistent margins on top of cols */
  }

  ul li {
    float: left;
    padding-right: 4px;

    &:not(:last-child):after {
      content: ',\00a0';
    }
  }
}
