@import 'tablist/TabList.scss';
@import '_common.scss';
@import 'map/_leaflet.scss';

h1 em {
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
}

mark {
  background: none;
  color: #fff;
  padding: 0 2px;

  &.blue {
    background: #0ff;
  }
  &.green {
    background: #0f0;
  }
  &.red {
    background: #f00;
  }
}

.panel nav {
  overflow: hidden;
  width: 100%;

  span {
    display: inline-block;
    float: left;
    margin: 1em .5em 0 0;
  }
}

.map {
  height: 300px;
}

.popup {
  dt {
    font-weight: normal;
    margin-top: 1em;
  }
  dd {
    color: #666;
    margin: .2em 0 0;
  }
}

.tablist-panel {
  overflow: auto;
  padding: 0 1em 1em;

  h2 {
    display: none; /* hides in js env only (.tablist-panel added by tabs js) */
  }

  img {
    display: block;
    float: left;
    margin: 1em 1em 1em 0;
    width: 490px;
  }
}
