@import 'tablist/TabList.scss';
@import '_common.scss';
@import 'map/_leaflet.scss';

h1 em {
  font-size: .8em;
  font-style: normal;
  font-weight: normal;
}

mark {
  background: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 1.25;
  padding: 1px 3px;

  &.blue {
    background: #44f;
  }
  &.green {
    background: #00c800;
  }
  &.red {
    background: #f44;
  }
}

nav {
  h4 {
    font: normal 1em $font-sans;
    margin: 1em 0 .25em;
  }

  ul {
    margin: 0 0 .25em;
  }
}

.downloads {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: .5em;

    &:last-child {
      margin-right: 0;
    };
  }
}

.empty {
  border-width: 0 1px 1px 0;
}

.freeze {
  left: 0;
  position: sticky;
}

.image {
  flex: 1 3 auto;
  margin-right: 1em;

  img {
    width: 490px;
  }
}

.links {
  list-style: none;
  margin-bottom: 2em;
  padding: 0;

  i {
    margin-right: 4px;
  }

  li > a {
    align-items: center;
    color: #333;
    display: flex;
    max-width: 12em;
    padding: 4px 0;
    text-decoration: none;
    transition: all .25s ease-out;

    span {
      color: #777;
      font-size: .8em;
    }

    &:hover {
      background: rgba(229, 255, 218, 0.43);
      color: #000;
    }
  }
}

.map {
  height: 350px;
  margin-bottom: 1em;
}

.meta {
  flex: 1 10 auto;

  h4:first-child {
    margin-top: 0;
  }

  nav {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
  }
}

.nav-downloads {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -.5em;

  div {
    margin-right: 2em;

    &:last-child {
      margin: 0;
    }
  }
}

.one-of-three {
  p:first-child {
    margin-top: 0;
  }
}

.panel {
  margin-top: 1em;

  h3 {
    margin-top: 1.8em;

    &:first-of-type {
      margin-top: .5em;
    }
  }

  th {
    background-color: #f8f8f8;
    border-width: 0 1px 1px 0;
    text-align: center;
  }
}

.plots {
  display: flex;
  margin-top: 1.25em;
}

.row {
  margin-bottom: 1.5em;
  margin-top: 1.75em;
}

.scroll-wrapper {
  overflow-x: auto;
}

@media screen and (max-width:1199px) {
  .image {
    margin: 0;
  }

  .plots {
    flex-wrap: wrap;
  }
}
