.stations {
  columns: 4 200px;

  h3 {
    font-weight: normal;
    margin: 1em 0 0 0;
  }

  /* avoid splitting network lists between columns */
  > li {
    break-inside: avoid; /* IE 10+, Opera */
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    display: table; /* FF; also enforces consistent margins on top of cols */
    page-break-inside: avoid; /* Theoretically FF 20+ */
  }

  ul li {
    float: left;

    &:not(:last-child):after {
      content: ',';
      padding-right: 5px;
    }
  }
}

/* 'better' jumplist:
  1. doesn't wrap pipes at beginning of new lines
  2. makes entire region clickable between pipes
*/
.jumplist {
  /* first override 'default' rules */
  > a {
    margin: 0;

    + a:before {
      content: '';
      margin: 0;
    }

    /* now set 'new' rules */
    padding-left: .75em;

    &:not(:last-child):after {
      color: #ccc;
      display: inline-block;
      content: '|';
      margin: 0 0 0 .75em;
    }
  }
}
