@import 'tablist/TabList.scss';
@import '_common.scss';

th {
  &.sort-header {
    cursor: pointer;
    white-space: nowrap;

    &:selection {
      background: transparent;
    }

    &:after {
      border-color: #404040 transparent;
      border-style: solid;
      border-width: 0 4px 4px;
      content: '';
      display: inline-block;
      margin: 4px 0 4px 2px;
      visibility: hidden;
    }

    &.sort-up:after,
    &.sort-down:after {
      opacity: 1.0;
      visibility: visible;
    }
    &.sort-up:after {
      border-bottom: none;
      border-width: 4px 4px 0;
    }
  }
}

.tablist-panel {
  header {
    display: none; /* hides in js env only (.tablist-panel added by tabs js) */
  }
}
