@import '_vars.scss';
@import 'leaflet.fullscreen.css';
@import 'leaflet.groupedlayercontrol.css';
@import 'leaflet.label.css';
@import '_MousePosition.scss';

/* Template's css is getting the way */
input[type=checkbox], input[type=radio] {
  display: inline;
  height: auto;
  opacity: 1;
  position: static;
  width: auto;
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Leaflet fullscreen plugin icons - override image paths */
.leaflet-control-fullscreen a {
  background-image: url(/img/fullscreen.png);
}
@media
  (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
  .leaflet-control-fullscreen a {
    background-image: url(/img/fullscreen@2x.png);
  }
}

.leaflet-control-layers span span {
  color: #777;
}

/* Leaflet label mouseovers */
.leaflet-label {
  background: rgba(255, 255, 255, .85);
  border-color: rgba(0, 0, 0, .25);
  border-width: 2px;
  color: #000;
  font-weight: 500;
  padding: 2px 6px;

  &.off {
    display: none;
  }

  &:before {
    left: -8px;
    top: 6px;
  }
  &:after {
    right: -8px;
    top: 6px;
  }
}

/* UtfGrid mouseovers */
.leaflet-mouseover-tooltip {
  background: #fff;
  background: rgba(255, 255, 255, .85);
  border: 2px solid;
  border-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
  color: #000;
  display: none;
  font: 12px/20px $font-sans;
  font-weight: 500;
  left: 12px;
  margin: -.5em 0 0;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

/* Ensure popups are on top of labels */
.leaflet-popup {
  z-index: 1000;
}

/* Bump up font sizes & use template's color for links in popups */
.leaflet-popup-content {
  font-size: 14px;

  a {
    color: $link-color;
  }
  h2 {
    font-size: 1.25em;
  }
}

.popup {
  dd {
    color: #666;
    margin: .2em 0 0;
  }

  dt {
    font-weight: normal;
    margin-top: 1em;
  }

  h2 {
    font: normal 1.5em $font-sans !important;
    margin-top: 0;
  }
}
