@import '_vars.scss';
@import 'leaflet.fullscreen.css';
@import 'leaflet.groupedlayercontrol.css';
@import '_MousePosition.scss';

/* Template's css is getting the way */
input[type=checkbox], input[type=radio] {
  display: inline;
  height: auto;
  opacity: 1;
  position: static;
  width: auto;
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Leaflet fullscreen plugin icons - override image paths */
.leaflet-control-fullscreen a {
  background-image: url(/img/fullscreen.png);
}
@media
  (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
  .leaflet-control-fullscreen a {
    background-image: url(/img/fullscreen@2x.png);
  }
}

.leaflet-control-layers {
  font-size: 14px;
  line-height: 1.6;

  label {
    margin-top: .15em;

    span {
      position: relative;
    }
  }

  span span {
    color: #777;
  }
}

/* Leaflet grouped layers - override plugin defaults */
.leaflet-control-layers-group-name {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: .25em;
  margin-left: 0;
}

/* Add extra space around baselayer/overlay separator */
.leaflet-control-layers-separator {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Ensure popups are on top of tooltips */
.leaflet-popup {
  z-index: 1000;
}

/* Bump up font sizes & use template's color for links in popups */
.leaflet-popup-content {
  font-size: 14px;

  a {
    color: $link-color;
  }
  h2 {
    font-size: 1.25em;
  }
}

.leaflet-tooltip {
  font-size: 14px;
}

.popup {
  dd {
    color: #666;
    margin: .2em 0 0;
  }

  dt {
    font-weight: normal;
    margin-top: 1em;
  }

  h2 {
    font: normal 1.5em $font-sans !important;
    margin-top: 0;
  }
}

/* hide UtfGrid tooltips onmouseout */
.utfgrid {
  display: none;
  opacity: 0.9;
}
