@import '_leaflet.scss';

.legend {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;

  img {
    height: 25px;
    position: absolute;
  }
  li {
    padding: .5em 1.25em 0 0;
    position: relative;
    white-space: nowrap;
  }
  span {
    display: inline-block;
    margin-left: 25px;
  }
}

.map {
  height: 700px;
}

@media all and (max-height: 667px) {
  .map {
    height: 500px;
  }
}

@media all and (max-height: 500px) {
  .map {
    height: 400px;
  }
}

@media all and (max-height: 400px) {
  .map {
    height: 300px;
  }
}
